*::before,*::after{
    box-sizing: border-box;
}

@keyframes circle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: transparent url(http://p3.music.126.net/Uc7F9HINTUQOTMFMe7RiEA==/18301371044867289.jpg) no-repeat center center;
    background-size: cover;
}
.disc-container{

}
.disc-container .pointer{
    position: relative;
}
.disc-container .pointer img{
    width: 1.65rem;
    position: absolute;
    left: calc(50% - 0.3rem);
    z-index: 1;
}
.disc-container .disc {
    margin-top: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: circle 20s infinite linear;
    z-index: 0;
}
.disc-container .disc .ring{
    width: 5.13rem;
}
.disc-container .disc .light{
    width: 5.13rem;
    position: absolute;
}
.disc-container .disc .cover{
    width: 3.2rem;
    position: absolute;
    border-radius: 50%;
}
.description{

}
.container .links{

}
