*::before,
*::after {
    box-sizing: border-box;
}

@keyframes circle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: transparent url(http://p3.music.126.net/Uc7F9HINTUQOTMFMe7RiEA==/18301371044867289.jpg) no-repeat center center;
    background-size: cover;
}

.disc-container {}

.disc-container .pointer {
    position: relative;
}

.disc-container .pointer img {
    width: 1.65rem;
    position: absolute;
    left: calc(50% - 0.3rem);
    z-index: 1;
}

.disc-container .disc {
    margin-top: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    z-index: 0;
}
.disc-container .disc.active .light,
.disc-container .disc.active .cover{
    animation: circle 20s infinite linear;
}
.stop{
      animation-play-state: paused !important;
    }
.disc-container .disc .icon{
    position: absolute;
    fill:white;
    display: none;
    width: 1rem;
}
/* .disc-container .disc .icon-pause{
    display: block;
}
.disc-container .disc .icon-play{
    display: block;
} */
.disc-container .disc .ring {
    width: 5.13rem;
}

.disc-container .disc .light {
    width: 5.13rem;
    position: absolute;
}

.disc-container .disc .cover {
    width: 3.2rem;
    position: absolute;
    border-radius: 50%;
}

.description {
    flex-grow: 1;
    margin-top: 0.36rem;
    text-align: center;
    color: #aeabac;
}

.description h1 {
    font-size: 0.33rem;
    font-weight: 100;
}

.description .lyric {
    height: 1.3rem;
    overflow: hidden;
}

.description p {
    font-size: 0.253rem;
    line-height: 0.435rem;
}

.container .links {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container .links a{
    margin: 0.29rem;
    padding: 0.18rem;
    border: 0.01rem solid #d43b32;
    border-radius: 0.0725rem;
    width: 2.5rem;
    letter-spacing: 0.11rem;
    color: #d43b32;
    font-size: 0.35rem;
}
.container .links .download{
    color: #fff;
    background-color: #d43b32
}